<div class="row" ng-controller="kitaCtrl">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h3 class="title">Kinder</h3>
                <p class="category">Führen Sie unterschiedliche Aktionen für die Kinder in Ihrer Kita durch.</p>
            </div>
            <div class="content">
                <div class="select" >
                    <select name="slct" id="slct" ng-options="kita.name for kita in kitas" ng-model="selected" ng-change="hasChanged()">
                    </select>
                </div>

                <div class="row container" style="margin-top: 1em;">
                    <p ng-if="count_kids == 0">Diese Gruppe enthält keine Kinder.</p>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center" ng-repeat="kid in kids">
                        <div class="card" style="padding: 1em;">
                            <img class="card-img-top img-circle" style="width: 150px; height:150px; margin-top: 1em;" src="{{kid.uImage}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style="margin-top: 1em;"><b>{{kid.fullname}}</b></h5>
                                <hr></hr>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="pe-7s-id" style="font-size: 2em;" title="Visit a profile"></i>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="pe-7s-pen" style="font-size: 2em;" title="Edit kinder data"></i>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="pe-7s-comment" style="font-size: 2em;" title="Message"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>